In [1]:
import pandas
pandas.__version__

'1.2.4'

In [2]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [3]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [6]:
connection = create_server_connection("127.0.0.1", "root", "HOST1234")

MySQL Database connection successful

In [7]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [20]:
create_database_query="CREATE DATABASE questionare"
create_database(connection, create_database_query)

Error: '1007 (HY000): Can't create database 'questionare'; database exists'

In [10]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [11]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [13]:
create_questionare = """
CREATE TABLE questionare (
  question_id INT PRIMARY KEY, 
  Question VARCHAR(255) NOT NULL, 
  answer_1 VARCHAR(40) NOT NULL, 
  answer_2 VARCHAR(40) NOT NULL, 
  answer_3 VARCHAR(40) NOT NULL,
  answer_4 VARCHAR(40) NOT NULL, 
  answer_5 VARCHAR(40) NOT NULL, 
  answer_6 VARCHAR(40) NOT NULL,
  answer_7 VARCHAR(40) NOT NULL, 
  answer_8 VARCHAR(40) NOT NULL 
);
 """
connection = create_db_connection("localhost", "root", "HOST1234", "questionare") # Connect to the Database
execute_query(connection, create_questionare) # Execute our defined query

MySQL Database connection successful
Query successful

In [19]:
create_answers = """
CREATE TABLE answers (
  answer INT PRIMARY KEY, 
  similar_answer_1 VARCHAR(40) NOT NULL, 
  similar_answer_2 VARCHAR(40) NOT NULL, 
  similar_answer_3 VARCHAR(40) NOT NULL
);
 """
connection = create_db_connection("localhost", "root", "HOST1234", "questionare") # Connect to the Database
execute_query(connection, create_answers) # Execute our defined query

MySQL Database connection successful
Error: '1050 (42S01): Table 'answers' already exists'

In [1]:
alter_answers = """
ALTER TABLE answers
ADD FOREIGN KEY(questionare)
REFERNCES questionare(question_id)
ON DELETE SET NULL;
"""
connection = create_db_connection("localhost", "root", "HOST1234", "questionare") # Connect to the Database
execute_query(connection, alter_answers) # Execute our defined query

NameError: name 'create_db_connection' is not defined

In [3]:
pop_questionare = """
INSERT INTO questionare VALUES
(01, 'In Horror Movies, Name a Place Teenagers Go Where There’s Always a Killer On the Loose'),
(02, 'Name Marvel’s Avengers'),
(03, 'Name a Common Candy Bar Component');
"""

pop_answers = """
INSERT INTO answers VALUES
('CABIN', 20, 'CAMP', 'WOODS', 01),
('GRAVEYARD', 20, 01),
('MOVIE THEATRE', 20, 'DRIVE-IN', 01),
('BASEMENT', 6, 'CELLAR', 01),
('CAPTAIN AMERICA', 20, 02),
('IRON MAN', 20, 02),
('BLACK PANTHER', 20, 02),
('CHOCOLATE', 20, 03),
('PEANUTES', 20, 03),
('CARAMEL', 20, 03);
"""

connection = create_db_connection("localhost", "root", "HOST1234", "questionare") # Connect to the Database
execute_query(connection, pop_questionare)
execute_query(connection, pop_answers) # Execute our defined query

In [6]:
def execute_list_query(connection, sql, val):
    cursor = connection.cursor() 
    try: 
        cursor.executemany(sql, val) 
        connection.commit() 
        print("Query successful") 
    except Error as err: 
        print(f"Error: '{err}'")

In [ ]:
sql = '''
    INSERT INTO answers (answer, point_value, synonym1, synonym2, questionID) 
    VALUES (%s, %s, %s, %s, %s)
    '''
    
val = [
    ('BATHROOM', 4, 'SHOWER'), 
]